.error {
    color: red;
}

.inputInformation {
    color: gray;
}

th {
    padding: 10px;
}

td {
    padding: 10px
}

.tables {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.generalForm {
    margin-top: 1%;
    margin-left: 2%;
    width: 20%;
}

.pageHeading {
    margin-top: 6%;
    margin-left: 2%;
}

.pageSubHeading {
    margin-top: 1%;
    margin-left: 2%;
}

.tableMargin {
    margin-top: 1%;
    margin-left: 2%;
    border: 1;
}

.buttonMargin {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}